# コピーして .env にリネームして使ってください
# HOST_DIR にマウントしたいホスト側のディレクトリを指定します。
# Windows の場合は C:/path or D:/path 形式を推奨します。

HOST_DIR=xxxxxxxx

# OpenRouter API Key
OPENROUTER_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
